@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.class-btn1{
    background: #8490ff!important;
    color: #fff !important;
    border: none;
    outline: none;
    padding: 12px 25px;
    border:1px solid transparent;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 600;
}
.class-btn1:hover{
    background: #fff !important;
    color: #8490ff!important;
    border:1px solid #8490ff;
}
.class-btn{
    background: #17a2b8 !important;
    color: #fff !important;
    border: none;
    outline: none;
    border:1px solid transparent;
    transition: 0.5s;
    border-radius: 5px;
}
.class-btn:hover{
    background: #fff !important;
    color: #8490ff!important;
    border:1px solid #8490ff;
}

.banner-content h4{
    color: #40454c;
}
.banner-content h1{
    color: #32383e !important;
}
.banner-content p{
    padding: 20px 0;
}

.menu-item{
    margin-left: 420px;
    transition: 0.5s all;
}
.count-number1{
    background: #8490ff;
    color: #fff !important;
    padding: 100px 0;
}
.count-number1 h2{
    font-size: 30px;
    font-weight: 700;
    
    padding-top: 10px;
}


.count-number1 span {

    font-size: 30px;
    font-weight: 700;
    position: relative;
    left: 40px;
    top: -49px;

}


p.count-text {
    bottom: 45px !important;
    position: relative;
}
p..first-line
p::first-letter




.price-section{
    background: #f9f9ff;
}
.col{
    color:#32383e;
    padding: 20px 0;
}


.price{
    padding: 15px 0;
    background: #fff;
    
}
.price .number{
    width: 90px;
    height: 90px;
    padding-top: 20px;
    margin: 10px auto;
    border-radius: 50%;
    background: #f9f9ff;
}
.price h5{
    color: #32383e;
    font-weight: 500;
}
.price h6{
    color: #32383e;
    font-weight: 500;
}
.price span{
    color:#7f7f7f;
    padding: 15px 0;
    font-size: 20px;
    display: block;
}
.price a{
    display: inline-block;
    text-decoration: none;
    padding: 14px 30px;
    margin: 20px 0;
    border: 1px solid #8490ff;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 10px #8490ff;

}
.price a:hover{
    display: inline-block;
    text-decoration: none;
    padding: 14px 30px;
    background: #8490ff;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    /* box-shadow: 0 0 10px #8490ff; */

}

.img-with-content{
    margin: 20px 0;
}
.img-box{
    background: #fff;
    margin-top: 80px;
    text-align: center;
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
    
}
.img-box img{
    position: absolute;
    top:-70px;
    left: 0;
}
.img-box .content-img{
    display: inline-block;
    padding-top: 30px;
    padding-left: 50px;
   
}
.img-box p:nth-child(){
    padding: 0px 15px;
}
.img-box a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background: #fff;
    color: #222;
    margin-bottom: 10px;
    border-radius: 8px;
    transform: translateY(0px);
    transition: 0.5s;
    padding: 5px 15px;

}
.img-box a:hover{
    transform: translateY(15px);
    color: #8490ff;
}

.contact{
    background: #f9f9ff;
    padding: 20px 0;
}

.contact input{
    margin: 10px 0;
   
}

.contact textarea{
    margin: 10px 0;
}
.contact button{
    font-size: 20px;
    width: 40% !important;
    margin: 20px auto !important;
    display: block;
    padding: 7px 0;
}


.contact-info{
    color: #32383e;
    padding-left:15px;
    font-size: 18px;
    mask-origin: 40px;
}

form h4{
    color: #32383e;
}


/* 
@media screen and (max-width: 600px) {
    .menu-item{
        margin-left: 300px;
        background: red;
        padding:0 60px ;
        border-radius: 50px;
    }
    .menu-item .nav-item:hover a{
        color: aqua !important;
    }
  } */